{% extends "base.html" %}

{% block content %}

<h2>{{ workout_type }}</h2>

<form method="POST" action="/save_workout">

<input type="hidden" name="workout_type" value="{{ workout_type }}">

{% for exercise, sets in exercises.items() %}

<hr>

<h4>{{ exercise }}</h4>

{% if exercise in previous_data %}

<p>
<b>Last workout:</b><br>

{% for s in previous_data[exercise] %}
{{ s }}<br>
{% endfor %}

</p>

{% endif %}

{% for set_num in range(1, sets + 1) %}

<div class="row mb-2">

<div class="col">
<input type="number" step="0.5" class="form-control"
placeholder="Weight"
name="{{ exercise }}_weight_{{ set_num }}">
</div>

<div class="col">
<input type="number" class="form-control"
placeholder="Reps"
name="{{ exercise }}_reps_{{ set_num }}">
</div>

</div>

{% endfor %}

{% endfor %}

<button type="submit" class="btn btn-primary">
Save Workout
</button>

</form>

<script>

const inputs = document.querySelectorAll("input");

inputs.forEach(input => {

    const savedValue =
        localStorage.getItem(input.name);

    if(savedValue){
        input.value = savedValue;
    }

    input.addEventListener("input", () => {

        localStorage.setItem(
            input.name,
            input.value
        );

    });

});

</script>

{% endblock %}